*.mrs*
*.pyc
*.pyo
*.swp
*~
*#
.#*
\#*
.coverage
unit_tests/coverage
*.pdf
*.m
*.bak
*.aux
*.log
*.egg-info/
misc/*
issues/*
testing/*
build
Non-Lcapy-Files/Solutions
.idea
dist
NonLcapyFiles/Solutions
NonLcapyFiles/Circuits/*/*.svg
NonLcapyFiles/.tmpSVGFiles
lcapy/tests/__pycache__
lcapy-1.24+inskale.0.37
